@{
    ViewBag.Title = "About Us";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

               <center> <img src="/Content/Images/MovieBox.png" alt="MovieBox" style="width="200" height="150""></center>

<h4><p>We're Movie specialists and we know the Movie market better than anyone else. The MovieBox website focuses on all the titles that are currently available on DVD or Blu-Ray. 
   You'll find thousands of titles that other sites don't have. Plus, we ship from our own warehouse and don't rely on anyone else to stock or ship your merchandise.</p></h4>
